<!DOCTYPE html>
<html lang="en">
{{>header_bootstrap}}

<body>
    <div class="container mt-5">
        <h1 class="mb-4">Admin Page</h1>

        <!-- Event Cards Section -->
        <div class="row">
            <div class="col-md-12">
                <div class="Events">
                    <h2>Events</h2>
                </div>
            </div>
            {{#each events}}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="/uploads/events/{{getFileName this.imagePath}}" class="card-img-top"
                        alt="{{this.eventName}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.eventName}}</h5>
                        <p class="card-text">{{this.shortDescription}}</p>
                        <a href="/edit/confirm/{{this._id}}?adminKey={{admin_key}}" class="btn btn-primary">Edit</a>
                        <a href="/delete/{{this._id}}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="/add?adminKey={{admin_key}}" class="btn btn-success">Add Event</a>
            </div>
        </div>

        <!-- Team Members Section -->
        <div class="row">
            <div class="col-md-12">
                <div class="Events">
                    <h2>Team Members</h2>
                </div>
            </div>
            {{#each teamMembers}}
            <div class="col-md-4 mb-4">
                <div class="card text-center">
                    <div class="card-img-top rounded-circle overflow-hidden mx-auto" style="width: 150px; height: 150px;">
                        <img src="/uploads/Team/{{getFileName this.imagePath}}" class="w-100 h-100 rounded-circle"
                            alt="{{this.name}}">
                    </div>  
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.position}}</p>
                        <a href="/editTeamMember/confirm/{{this._id}}?adminKey={{admin_key}}"
                            class="btn btn-primary">Edit</a>
                        <a href="/deleteTeamMember/{{this._id}}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div> 
        <div class="row mt-3 mb-5">
            <div class="col-md-12">
                <a href="/addTeamMember?adminKey={{admin_key}}" class="btn btn-success">Add Team Member</a>
            </div>
        </div>
    </div>
</body>

</html>
