<!DOCTYPE html>
<html lang="en">

<head>
    {{>header_bootstrap}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Team Member</title>
</head>

<body>
    <div class="container mt-5">
        <h1>Edit Team Member</h1>
        <form action="/editTeamMember/confirmed/{{teamMemberToUpdate._id}}?adminKey={{adminKey}}" method="post"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{teamMemberToUpdate.name}}"
                    required>
            </div>

            <div class="mb-3">
                <label for="position" class="form-label">Position:</label>
                <input type="text" class="form-control" id="position" name="position"
                    value="{{teamMemberToUpdate.position}}" required>
            </div>

            <div class="mb-3">
                <label for="githubLink" class="form-label">GitHub Link:</label>
                <input type="text" class="form-control" id="githubLink" name="githubLink"
                    value="{{teamMemberToUpdate.githubLink}}">
            </div>

            <div class="mb-3">
                <label for="linkedinLink" class="form-label">LinkedIn Link:</label>
                <input type="text" class="form-control" id="linkedinLink" name="linkedinLink"
                    value="{{teamMemberToUpdate.linkedinLink}}">
            </div>

            <div class="mb-3">
                <label for="instaLink" class="form-label">Instagram Link:</label>
                <input type="text" class="form-control" id="instaLink" name="instaLink"
                    value="{{teamMemberToUpdate.instaLink}}">
            </div>

            <div class="mb-3">
                <label for="facebookLink" class="form-label">Facebook Link:</label>
                <input type="text" class="form-control" id="facebookLink" name="facebookLink"
                    value="{{teamMemberToUpdate.facebookLink}}">
            </div>

            <div class="mb-3">
                <label for="teamMemberImage" class="form-label">Team Member Image:</label>
                <input type="file" class="form-control" id="teamMemberImage" name="teamMemberImage">
            </div>

            <button type="submit" class="btn btn-primary">Confirm Edit</button>
        </form>
    </div>
</body>

</html>
