<!-- teamMembers.hbs -->
<h2> <b>TEAM MEMBERS</b></h2>
<ul>
    {{#each teamMembers}}
    <li>
        {{name}} - {{position}}
        <a href="editTeamMember/confirm/{{_id}}?adminKey={{admin_key}}">Edit</a>
        <a href="#" onclick="confirmDeleteTeamMember('{{_id}}', '{{admin_key}}')">Delete</a>
    </li>
    {{/each}}
</ul> 
<a href="/addTeamMember">Add New Team Member</a>

<script>
function confirmDeleteTeamMember(teamMemberId, adminKey) {
    var shouldDelete = confirm("Are you sure you want to delete this team member?");
    if (shouldDelete) {
        window.location.href = '/deleteTeamMember/:' + teamMemberId + '?adminKey=' + adminKey;
    } 
}
</script>
